@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

@layer base {
    body{
        @apply font-[Raleway];
    }
    li{
        @apply px-4;
        @apply cursor-pointer;
    }
}

body{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1431' height='883' preserveAspectRatio='none' viewBox='0 0 1431 883'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1364%26quot%3b)' fill='none'%3e%3crect width='1431' height='883' x='0' y='0' fill='url(%23SvgjsLinearGradient1365)'%3e%3c/rect%3e%3cpath d='M688.62 474.9 a173.58 173.58 0 1 0 347.16 0 a173.58 173.58 0 1 0 -347.16 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1064.138%2c591.264C1120.494%2c591.319%2c1184.576%2c582.323%2c1210.423%2c532.244C1235.162%2c484.313%2c1198.162%2c432.655%2c1169.623%2c386.884C1143.504%2c344.994%2c1113.397%2c300.876%2c1064.138%2c297.631C1010.061%2c294.068%2c960.107%2c325.18%2c931.478%2c371.195C901.035%2c420.125%2c888.591%2c482.608%2c918.342%2c531.962C947.373%2c580.121%2c1007.906%2c591.21%2c1064.138%2c591.264' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M34.74 880.09 a278.42 278.42 0 1 0 556.84 0 a278.42 278.42 0 1 0 -556.84 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1024.529404480814 684.7559821219104L882.9071920268489 776.7265222549464 974.8777321598849 918.3487347089116 1116.4999446138502 826.3781945758756z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1091.613179505181 492.0832207069733L1239.8905129929565 696.1694617352222 1443.9767540212054 547.8921282474467 1295.69942053343 343.80588721919787z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M335.9789063876266 312.26600232966473L476.9337754683584 227.5717724388674 392.2395455775611 86.61690335813557 251.28467649682926 171.3111332489329z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1369.677%2c178.538C1417.998%2c179.726%2c1464.181%2c157.539%2c1489.999%2c116.676C1517.716%2c72.806%2c1524.9%2c17.483%2c1500.3%2c-28.207C1474.481%2c-76.161%2c1424.114%2c-105.103%2c1369.677%2c-106.801C1312.008%2c-108.6%2c1250.236%2c-88.276%2c1224.132%2c-36.822C1199.576%2c11.582%2c1228.789%2c66.034%2c1259.181%2c111.004C1285.087%2c149.337%2c1323.425%2c177.401%2c1369.677%2c178.538' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M719.539034783409 476.0367880061374L944.8936137968344 424.009583987445 892.866409778142 198.6550049740195 667.5118307647166 250.68220899271188z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M290.63 301.66 a208.8 208.8 0 1 0 417.6 0 a208.8 208.8 0 1 0 -417.6 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M862.3350167538067 851.2686444206606L772.3034225434573 717.7913169114189 638.8260950342155 807.8229111217684 728.857689244565 941.3002386310101z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1364'%3e%3crect width='1431' height='883' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1365'%3e%3cstop stop-color='rgba(96%2c 213%2c 225%2c 0.36)' offset='0.64'%3e%3c/stop%3e%3cstop stop-color='rgba(96%2c 213%2c 225%2c 0.36)' offset='0.65'%3e%3c/stop%3e%3cstop stop-color='rgba(114%2c 203%2c 212%2c 0.37)' offset='0.65'%3e%3c/stop%3e%3cstop stop-color='rgba(96%2c 213%2c 225%2c 0.36)' offset='0.93'%3e%3c/stop%3e%3cstop stop-color='rgba(96%2c 213%2c 225%2c 0.81)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");   background-size: cover;
   background-repeat: no-repeat;
   background-size: cover;
}
.content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}
.content-div:hover{
    background-image: linear-gradient(
        to right,
        rgba(112,157,255,0.8),
        hsla(242,74%,61%,0.8)
    )!important;
}
.color-content{
    background: linear-gradient(to bottom, #2dbcebdd -20%, #bbeeeedd 32%);
}
.nav-color{
    background: linear-gradient(to bottom, #1092bdea -20%, rgba(51, 136, 170, 0.273) 32%);
}
.text_nav{
   /* ackground: linear-gradient(to right, crimson,pink,springgreen); b
    */
    background-image: linear-gradient(
        to right,
        rgb(22, 66, 186),
        rgba(113, 111, 191, 0.951)
    )!important;
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
}
.text_nav:hover{
    transition: color .2s ease-in-out;
    color:rgba(0,0,0,0);
  }
li{
    list-style: none;
    
  }


  .hide_b{
    /* --tw-text-opacity: 0; */
    opacity: 5;
  }

.typed-text{
    
    /* display: flex; */
}
.glow{
    -webkit-box-shadow:0px 0px 181px 62px rgba(99,60,207,0.51);
    -moz-box-shadow: 0px 0px 181px 62px rgba(99,60,207,0.51);
    box-shadow: 0px 0px 181px 62px rgba(99,60,207,0.51);
    border-radius:  30% 70% 47% 53% / 54% 35% 65% 46% ; 
}
 .glass{
    background: rgba( 199, 236, 236, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    padding: 10px;
    border: 3px solid rgba( 255, 255, 255, 0.18 );
}
 .glow2{
    -webkit-box-shadow:0px 0px 180px 131px rgba(94,67,168,0.38);
    -moz-box-shadow: 0px 0px 180px 131px rgba(94,67,168,0.38);
    box-shadow: 0px 0px 180px 131px rgba(94,67,168,0.38);
}